.hero {
  padding-top: 1.875rem;
  position: relative;
  background-image: url('/src/components/pages/Home/assets/fondo_web_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 2rem 0;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.hero-information {
  grid-column: 1;
}

.hero-information h1 {
  color: #4c4b5a;
  font-size: 3.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.hero-information h2 {
  color: #716f85;
  font-size: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
}

.hero-information p {
  margin-top: 1.5rem;
  color: #716f85;
  font-size: 1.125rem;
}

.hero-information .button-primary {
  display: inline-block;
  margin-top: 2rem;
}

.hero-information .button-primary:hover,
.hero-information .button-primary:focus {
  border-color: #f4ce14;
}

.hero-image {
  grid-column: 2;
  width: 100%;
  height: 24rem;
  margin-bottom: -4.375rem;
  justify-self: end;
  border-radius: 1rem;
  object-fit: cover;
}

@media (max-width: 792px) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hero-information {
    grid-row: 1;
  }

  .hero-image {
    grid-column: 1;
    grid-row: 2;
  }
}
