.our-story {
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding: 4rem 0 4rem;
}

.our-story-description {
  grid-column: 1;
}

.our-story-description p {
  padding-top: 1.5rem;
}

.our-story-chefs {
  grid-column: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.our-story-chefs img {
  max-width: 70%;
  height: auto;
  border: 2px solid #003f69;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 0 20px #d9d9d9;
}

@media (max-width: 915px) {
  .our-story {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .our-story-chefs {
    grid-column: 1;
    position: static;
    justify-content: space-evenly;
    flex-direction: row;
    height: unset;
  }

  .our-story-chefs img {
    position: static;
    max-width: 50%;
    height: 26rem;
    width: unset;
  }
}

@media (max-width: 715px) {
  .our-story {
    grid-template-rows: repeat(3, auto);
  }

  .our-story-chefs {
    flex-direction: column;
  }

  .our-story-chefs img {
    max-width: 100%;
  }
}
