.testimonials {
  padding-top: 1.875rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 2rem 0;
}

.testimonials .container {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto;
  row-gap: 1.5rem;
}

.testimonials h2 {
  grid-row: 1;
  color: #272e2e;
}